{% extends 'myapp/Sidebar.html' %}
{% block page_title %}
    Admin
{% endblock page_title %}

{% block main_content %}
<style>
    .login_btn {
			width: 8%;
			height: 40px;
			margin: -5% 0 0 0;
			background: #33ccff !important;
			color: white !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 5rem;
		}
		button.disabled{
            pointer-events: none;
        }

</style>
<section class="content">
<nav class="col-md-2 d-inline-block bg-dark sidebar">
          <div class="sidebar-sticky" style="height: 682px;">
            <ul class="nav flex-column nav-pills " style="margin: 8% 0 0 0;">
                <h6 style="color: gray">Welcome, <span style="color:yellow;"> {{ user.last_name }}, {{ user.first_name }}</h6>
              <li class="nav-item">
                <a class="nav-link" href="/driver">
                <i class="fa fa-home" aria-hidden="true" style="margin-right: 10px;"></i>
                   Dashboard
                </a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href='/driver/manageschedule'>
                <i class="fa fa-bus" aria-hidden="true" style="margin-right: 10px;"></i>
                    Update Schedule
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href='/driver/reservationlist'>
                <i class="fa fa-bus" aria-hidden="true" style="margin-right: 10px;"></i>
                    List of Reservations
                </a>
              </li>
            </ul>
          </div>
        </nav>
</section>
<center>

     <div class="container"  style="width:80%; display:float; margin: -41% 0 0 17%;">
        <h3 style="margin-left:-80%">List of Schedules</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Schedule ID</th>
              <th scope="col">Bus ID</th>
              <th scope="col">Schedule Arrival</th>
              <th scope="col">Schedule Departure</th>
            </tr>
          </thead>
          <tbody >
          {% for schedule in schedule %}
            <tr style="width:500px;">
              <th scope="row" style="color:#016228">{{ schedule.scheduleID }} </th>
              <td style="color:#016228">{{ schedule.busID }} </td>
              <td style="color:#016228">{{ schedule.scheduleArrival }}</td>
              <td style="color:#016228">{{ schedule.scheduleDeparture }} </td>
              <td style="color:#016228">{{ schedule.scheduleSeatVacancies }} </td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
        </center>

        <br> <br>

        <h3 style="margin-left:22%">Reservation List</h3>
        <table class="table table-striped" style="width:70%; margin: 0 0 0 22%;">
          <thead>
            <tr>
              <th scope="col">Reservation ID</th>
              <th scope="col">Student ID</th>
              <th scope="col">Student Name</th>
              <th scope="col">Bus ID</th>
              <th scope="col">Schedule ID</th>
              <th scope="col">Status</th>

            </tr>
          </thead>
          <tbody >
          {% for reservation in reservation %}
            <tr style="width:500px;">
              <th scope="row" style="color:#016228">{{ reservation.reservationID }} </th>
              <td style="color:#016228">{{ reservation.studentID }} </td>
              <td style="color:#016228">{{ reservation.studentName }}</td>
              <td style="color:#016228">{{ reservation.busID }} </td>
              <td style="color:#016228">{{ reservation.scheduleID }} </td>
              <td>
                  <a href="{% url 'removereservation-page' reservation.reservationID %}">
                      <input type="submit" value="Arrived" class="btn btn-Danger">
                  </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>

        </table>
        </center>
</div>
{% endblock main_content %}